@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
	--main-color: #282d49;
	--color1: #3b3f5a;
	--color2: #565980;
	--bg-color: #5747b7;
	--header-bg-color: #ffffff52;
	--hr-gradient: linear-gradient(to right, #2e345380, #32395a, #2e345380);
	--bg-image: url(../assets/imgs/background-dark.jpg) center center #000 no-repeat;
}

html,
body {
	height: 100vh;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	background: var(--bg-image);
	background-size: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: background-color, color, border, background, 50ms ease;
}

.v-middle {
	vertical-align: middle;
}


